
table {
    text-align:center;
    border-spacing: 5px;
    width: 70%;
}
td {
    padding: 6px;
}
table, th, td {
    border: 1px solid black;
}
.big {
    background-color: #F44336;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: flex;
    font-size: 14px;
}