<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOU ARE QUESTIONED</title>
    <meta name="description" content="">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="easyreader">
        {{ question.question_text }}
    </h1>

    {% if error_message %}
    <p class="easyreader">
        <strong>
            {{ error_message }}
        </strong>
    </p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="easyreader">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id}}"/>
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label><br/>
        {% endfor %}
        <input type="submit" value="Vote" />
    </form>

</body>
</html>